<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop">
    <div
      class="wave waveTop"
      style="
        background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png');
      "
    ></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div
      class="wave waveMiddle"
      style="
        background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png');
      "
    ></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div
      class="wave waveBottom"
      style="
        background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png');
      "
    ></div>
  </div>
</div>

<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        placeholder="E-Mail"
        #emailInput="ngModel"
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid email.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        name="password"
        ngModel
        matInput
        placeholder="Password"
        #passwordInput="ngModel"
        required
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid password.</mat-error
      >
    </mat-form-field>
    <button mat-raised-button type="submit" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>
