<div class="background-container">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" />
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="clouds"></div>
</div>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        placeholder="E-Mail"
        #emailInput="ngModel"
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid email.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        name="password"
        ngModel
        matInput
        placeholder="Password"
        #passwordInput="ngModel"
        minlength="8"
        required
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid password.</mat-error
      >
    </mat-form-field>
    <button mat-raised-button type="submit" *ngIf="!isLoading">Signup</button>
  </form>
</mat-card>
